<input
  #createInput
  type="text"
  class="form-control"
  [(ngModel)]="newTodo"
  (keyup.enter)="handleCreateTodoItem()"
  placeholder="Add Todo"
>

<div class="list">
  <div class="card todo-list border-primary">
    <div class="card-header bg-primary text-white">Todo List</div>
    <div class="card-body text-primary">
      <app-todo
        *ngFor="let todo of todoList"
        [todo]="todo"
        (updateStatus)="finishTodoItem(todo)"
        (editTodo)="editTodo(todo)">
      </app-todo>
    </div>
  </div>
  <div class="card todo-list border-success">
    <div class="card-header bg-success text-white">Finished List</div>
    <div class="card-body text-success">
      <app-todo *ngFor="let todo of finishedTodos" [todo]="todo"></app-todo>
    </div>
  </div>
</div>
<app-edit-modal [data]="editingData" (onSave)="onSave($event)"></app-edit-modal>
