<div class="container main">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="#">Todo APP</a>
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/todo-list"> Todo List </a> </li>
        <li routerLinkActive="active"><a routerLink="/statistics"> Statistics </a> </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <router-outlet></router-outlet>
  </div>
</div>
