/* You can add global styles to this file, and also import other style files */
.form-control:focus {
  border-color: #007BFF;
  box-shadow: none;
}

.form-control.ng-dirty.ng-invalid,
.form-control.ng-dirty.ng-invalid:focus
{
   border: 1px solid #E84522;
}
